{% block element_moorl_category_listing %}
    {% set config = element.fieldConfig.elements %}

    {% if element.data.children %}
        <div class="cms-element-{{ element.type }}">
            {% for category in element.data.children %}
                <div class="category{% if element.config.backgroundFixed.value %} bg-fixed{% endif %}"
                     style="background-image: url({{ category.media.url }}); min-height: {{ config.height.value }};">
                    <div class="overlay{% if config.boxMaxWidth.value %} container{% endif %}"
                         style="
                             align-items: {{ config.boxVerticalAlign.value }};
                             justify-content: {{ config.boxHorizontalAlign.value }};
                             min-height: {{ config.height.value }};
                             height:  {{ config.height.value }};
                             background: {{ config.elementBackground.value }};">
                        <div style="display: flex;
                            margin: {{ config.boxMargin.value }};
                            padding: {{ config.boxPadding.value }};
                            background: {{ config.boxBackground.value }};
                            color: {{ config.boxColor.value }};
                            width: {{ config.boxWidth.value }};
                            height: {{ config.boxHeight.value }};
                            text-align: {{ config.boxTextAlign.value }};">
                            <div class="container-content">
                                {% if category.name %}
                                    <h3>{{ category.name }}</h3>
                                {% endif %}
                                {% if category.description %}
                                    <p>{{ category.description|length > config.contentLength.value ? category.description|slice(0, config.contentLength.value) ~ '...' : category.description }}</p>
                                {% endif %}
                                {% if config.btnActive.value and category.id %}
                                    <a class="btn {{ config.btnClass.value }}" href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}">{{ config.btnText.value }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
